.homepage-container {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
.css-i4bv87-MuiSvgIcon-root {
  width: 15px !important;
  height: 15px !important;
  margin-right: 4px;
}
.datapicker {
  display: flex;
  height: 30px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
}
.period {
  color: #ff5f5f;
  margin-left: 20px;
}
.filter-homepage {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}
.filter-button {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
